{{ template "base" .}}

{{ define "content"}}
    <div class="container row">
        <div class="col">
            <h1>this is about page</h1>
            <h1>this is some text</h1>
        </div>
    </div>
{{ end }}